html {
    font-size: 100%;
    height: 100%;
    width: 100%;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    margin: 1rem;
}

strong {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    margin: 5rem 1rem 1rem 1rem;
}

.backdrop {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background: white;
    border-radius: 1rem;
    height: 30rem;
    width: 30rem;
    transform: translateY(-4rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info > button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    margin: 0.25rem;
    background-color: limegreen;
    height: 2rem;
    width: 8rem;
    border-radius: 0.5rem;
}

.info > button:hover {
    background-color: green;
}

.description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin: 7rem 0.25rem 0.25rem 0.25rem;
}

input {
    margin: 0.25rem;
}