html {
    font-size: 100%;
    height: 100%;
    width: 100%;
}

#map {
    height: 25rem;
    width: 40rem;
    border-radius: 1rem;
    margin: 0.75rem;
}

.selected {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    background-color: limegreen;
    height: 2rem;
    width: 40rem;
    margin: 0.05rem 0.75rem 0.75rem 0.75rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected:hover {
    background-color: green;
}

.notSelected {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    background-color: lightgray;
    height: 2rem;
    width: 40rem;
    margin: 0.05rem 0.75rem 0.75rem 0.75rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}