html {
    font-size: 100%;
    height: 100%;
    width: 100%;
}

.header {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 3.5rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.playButton > button {
    background-color: limegreen;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    align-content: center;
    height: 3rem;
    width: 10rem;
    border-radius: 1rem;
}

.playButton > button:hover {
    background-color: green;
}

.leaderboardheader {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1.75rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard {
    margin: 1rem;
}

td, th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding: 0.3rem 0.75rem
}